@{
    ViewBag.Title = "KoLib Proof of Concept";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>            
        </div>
    </section>
}
<h3>List of demos:</h3>
<ol>
    <li>@Html.ActionLink("Required validation", "Required", "Demo")</li>
</ol>